#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.slam {
  position: relative;
  animation: slam 1s forwards;
  opacity: 0;
}

@keyframes slam {
  0% {
    transform: translateY(-10%);
    /* Start off-screen above */
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    /* Slam onto the screen vertically */
    opacity: 1;
  }
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-draggable-dragging {
  transition: none !important;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.original-text,
.corrected-text {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  height: auto;
  /* Adjust based on content */
  overflow-y: auto;
  /* For scrollable content */
}

.original-text h2,
.corrected-text h2 {
  color: #333;
  margin-bottom: 10px;
}

/* Add more styles as per your design requirements */